body{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

#navBar>div:nth-child(1)>p{
    /* border:1px solid brown; */
    background-color:rgb(20,33,61) ;
    height:20px;
    color:white;
    padding-left:30px;
}
#navBar>div:nth-child(2){
    display: flex;
    justify-content: flex-end;
    /* border:1px solid red; */
    padding:10px;
    /* width: 35%; */
}
#navBar>div:nth-child(2)>div{
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-evenly;
    /* border:1px solid black; */
    width: 35%;
}
#navBar>div:nth-child(2) img{
    width:20px;
}
#navBar>div:nth-child(2)>div>div:nth-child(3){
    cursor:pointer;
    /* font-size: 12px;
    font-family: Arial, Helvetica, sans-serif; */
}
#navBar>div:nth-child(2)>div>div:nth-child(4){
    cursor: pointer;
    /* font-size: 12px;
    font-family: Arial, Helvetica, sans-serif; */
}
#navBar>div:nth-child(2)>div>div:nth-child(1)>span{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color:black; 
}
#navBar>div:nth-child(2)>div>div:nth-child(2)>span{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color:black; 
}
#navBar>div:nth-child(2)>div>div:nth-child(3)>span{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color:black; 
}
#navBar>div:nth-child(2)>div>div:nth-child(4)>span{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color:black; 
}
#navBar>div:nth-child(2)>div>div:nth-child(4)>span:hover{
    color:blue;
}
#navBar>div:nth-child(2)>div>div:nth-child(1)>span:hover{
    color:blue;
    cursor:pointer;
}
#navBar>div:nth-child(2)>div>div:nth-child(2)>span:hover{
    color:blue;
    cursor:pointer;
}
.dropdown{
    display: none;
    position:absolute;
     right: 100px; 
    /* position: relative; */
    padding:10px;
    width: 14%;
    z-index: 1;
    text-align: center;
    background-color: white;
    /* border:1px solid black; */
    /* margin-right: 100px; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
#navBar>div:nth-child(2)>div>div:nth-child(3):hover .dropdown{
   display:block;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dropdown p~p{
color:blue;
}
/* from here 3rd section of navbar starts */
   .images{
    width:100px;
    margin-top:50px;
   }
    #navBar>div:nth-child(3){
        /* height: 150px; */
        height: auto;
        display:flex;
        justify-content: space-between;
        align-items: center;
        /* border:1px solid red; */
        width:100%;
        /* overflow: auto; */
        background-color: rgb(241,241,241);
        /* padding:-1005px 0px */
    }
    
    #navBar>div:nth-child(3)>div:nth-child(1){
        display: flex;
        justify-content: space-around;
        /* align-content: center; */
        /* border:1px solid black; */
        width:50%;
    }

    #navBar>div:nth-child(3)>div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>h2:nth-child(1){
       margin-top:70px;
       /* border:1px solid blue; */
    }
    #navBar>div:nth-child(3)>div:nth-child(1)>div:nth-child(1)>div:nth-child(2)>h2:nth-child(2){
        margin-top: -20px;
        font-size: 50px;
        /* border:1px solid blue; */
        color:orange;
        font-family: Arial, Helvetica, sans-serif;
    }
    #navBar>div:nth-child(3)>div:nth-child(1)>div:nth-child(1){
        /* border:1px solid orange; */
        /* width: 30%; */
        display: flex;
    }
    #navBar>div:nth-child(3)>div:nth-child(2){
        display: flex;
        /* border:1px solid black; */
        width: 28%;
        justify-content: space-evenly;
        align-items: center;
       /* margin:auto */
    }
    #navBar>div:nth-child(3)>div:nth-child(1)>div~div{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
    /* .rightprofilesection>div{
        border: 1px solid red;
    } */
    .rightprofilesection>div:nth-child(1)>svg{
        width: 50px;
        height: 50px;
    }
    .rightprofilesection>div:nth-child(1){
        /* border:1px solid red; */
        display: flex;
    }
        /* here onwards how to build dropdown menu is exact.  before we had but its not clear so this is understandable to me */
     .productsmenu>ul{
        display:none;
     }
     .productsmenu>ul>li{
        line-height:30px;
        /* cursor: pointer; */
     }
     .productsmenu>ul>li>span:hover{
        color:white;
        background-color: rgb(20,33,61);
        cursor: pointer;
     }
     .productsmenu:hover>ul{
        display:block;
        position:absolute;
        margin-top: 320px;
        margin-left:130px;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
        text-decoration: none;
        list-style: none
     }
     .submenu2>div>ul{
        display:none;
     }
     .submenu2>div>ul>li{
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: -40px;
     }
    
     .submenu2:hover>div>ul{
        display: block;
        position: absolute;
        margin-top:-30px;
        margin-left:190px;
        list-style: none;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        /* padding:20px; */
        width:70%;
     }
     .submenu2>div>ul>li>span{
        color:rgb(20,33,61);
        font-weight: bold;
        cursor:pointer;
     }
     #midsection{
        /* border:1px solid red; */
     }
     #midsection>div{
        display: flex;
        /* border:1px solid red; */
        padding:5px;
        margin-left:30px;
        /* justify-content: center; */
        align-items: center;
     }
     #midsection>div>div:nth-child(1)>span:nth-child(1):hover{
        cursor: pointer;
     }
     #midsection>div>div:nth-child(2)>span:nth-child(1){
        /* color:rgb(20,33,61); */
        color:blue;
        font-size:15px;
        /* border:1px solid blue; */
     }
     #midsection>div>div:nth-child(2)>span:nth-child(1):hover{
        cursor: pointer;
     }
     #midsection>div>div:nth-child(3){
        color:#5A6169;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
     }
     #midsection>h1{
        margin-left:30px;
        font-size: 28px;
        font-family:Arial, Helvetica, sans-serif;
        color:#222222;
     }
     #midsection>h1+p{
        margin-left:30px;
     }
     #midsection>h1+p>span:nth-child(1){
        color:#5A6169;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
     }
     #midsection>h1+p>span:nth-child(2){
        color:#0066CC;
        font-size:14px;
        font-family: Arial, Helvetica, sans-serif;
     }
     #midsection>h1+p>span:nth-child(2):hover{
        cursor:pointer;
     }
 /* #midsection> */
  /* till here navbar completes  */
 #functionalitySection{
    /* border:1px solid red; */
    height: auto;
    /* height:4700px; */
    width:100%;
    display: flex;
    justify-content: center;
    gap:20px;
    margin:auto;
}
#functionalitySection>div:nth-child(1){
    width:20%;
    height: 500px;
    height: auto;
    /* border:1px solid blue */
}
#functionalitySection>div:nth-child(2){
    width:70%;
    /* height:100%; */
    /* border:1px solid blue; */
    /* padding-left:10px; */
    gap:20px
}
#functionalitySection>div:nth-child(2)>div:nth-child(1){
    height: 100px;
    height: auto;
    width:100%;
    /* border:1px solid orange; */
    background-color: rgb(242,242,242);
    /* margin-left:10px; */
}
#functionalitySection>div:nth-child(2)>div:nth-child(1){
  display: flex;
  align-items: center;
  /* border:1px solid red; */
  /* margin-left:20px; */
}
#functionalitySection>div:nth-child(2)>div:nth-child(1)>div:nth-child(2)>select{
    padding:8px 18px 8px 8px;
    border-radius: 5px;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;   
    color:#222222
}
#functionalitySection>div:nth-child(2)>div:nth-child(1)>div:nth-child(2)>select>option{
    font-size:13px;
    font-family: Arial, Helvetica, sans-serif;
    color:#333E49;
}
#functionalitySection>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>p{
    color:#585C5F;
    font-size:16px;
}
#functionalitySection>div:nth-child(2)>div:nth-child(2){
    /* height: 80%; */
    width:100%;
    margin-top: 30px;
    border:10px solid rgb(242,242,242);
    background-color: rgb(242,242,242);
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,450px);
    gap:30px;
    
}
.card{
    /* min-width:30%; this is the place I gave width specified then whats the use of grid template column which determins width*/
    /* height: 78%; */
    /* height: auto; */

    /* border:1px solid red; */
    /* text-align: center; */
    background-color: white;
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* display: grid;
    grid-template-columns: repeat(3fr,auto);
    grid-template-rows: repeat(2); */
}
.card>div{
    text-align: center;
    /* border:1px solid red; */
    /* margin-bottom:20px; */
    /* padding:10px; */
    height: auto;
}
.card>div>img{
    /* border:1px solid blue; */
    /* min-width:60% */
    /* width:60%; */
    width:160px;
}
.card>div+p{
    width:98%;
    color:#0066CC;
    /* border:1px solid blue; */
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    margin-bottom: 20px;
}
.card>div+p+p{
    color:#222222;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
}
.card>div+p+p+p{
    color:#222222;
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
    margin:5px 0px
}
.card>button{
    background-color: red;
    padding:10px 100px;
    color:#FFFFFF;
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
.card>button+p{
    color:#094801;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
}
   /* filter css */
#functionalitySection>div:nth-child(1){
    /* border:1px solid red; */
    margin-top: 100px;
    text-align: center;   
}
#functionalitySection>div:nth-child(1)>div>p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:#222222;
} 
/* image slider section */
#slidertop{
    /* border:2px solid red; */
    background-color: rgb(242,242,242);
    height:500px ;
    margin:150px 0px;
  }
  .carousel{
    /* gap:10px; */
    width:100%;
  }
  
    .slider{
        width:13%;
        margin:10px;
        border-radius: 5px;
        background-color: rgb(255,255,255);
        flex-shrink: 0;
        /* counter-increment: slider; */
    }
    .slider>h2+div>img{
      width:100px;
        /* border:1px solid green; */
    }
    .slider>h2{
        font-size: 13px;
        color:#0066CC;
        font-family: Arial, Helvetica, sans-serif;
    }
    .slider>p{
        font-size:13px;
        color:#222222;
        font-family: Arial, Helvetica, sans-serif;
    }
    .w3-center{
      font-size:25px;
      font-family: Arial, Helvetica, sans-serif;
      color:#222222;
      /* border:3px solid red; */
      text-align: left;
      display: flex;
      justify-content: flex-start;
    }

/* footer section starts here  */
#footerSection{
    display: flex;
    /* border:1px solid red; */
    background-color:rgb(4,16,42) ;
    justify-content: space-around;
    padding:30px;
    margin-top:35px;
}
#footerSection>div>h4{
    color:white;
    cursor:pointer;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
#footerSection>div>ul>ol{
    color:white;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
#footerSection>div>p{
    color:#FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
#footerSection>div:nth-child(4)>h4+div {
display:flex;
/* border:1px solid red; */
justify-content: space-evenly;
width:40%;
}
#footerSection>div:nth-child(4)>h4+div svg{
    font-size:30px;
    /* width:40%; */
    color:#0066CC;
    font-family: Arial, Helvetica, sans-serif;
}
#footerSection+div{
    width:100%;
    background-color: rgb(0,9,29);
}
#footerSection+div>p{
    color:#E0E0E0;
    text-align: center;
    padding:100px;
}
#footerSection+div span{
 cursor:pointer;
}